<div id="signup">
    <h2>Signup</h2>
    <form action="/signup" method="POST">

        <label class="input-group mb-3" name="image">
            <div class="custom-file">
                <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose file</label>
            </div>
            <div class="input-group-append">
                <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
            </div>
        </label>

        <label for="input-name">Full name</label>
        <input type="text" id="input-name" name="name" placeholder="Your full name" />

        <label for="input-email">Email</label>
        <input type="email" id="input-email" name="email" placeholder="Your email" value="{{email}}" />

        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" placeholder="********" />

        <label for="input-profession">Profession</label>
        <input type="text" name="profession" id="input-profession" placeholder="your profession"/>

        <!-- <label for="input-description">Description</label>
        <input type="textarea" name="description" id="input-description" placeholder="Tell us about you"/> -->

        <label for="Description">Tell us about you:</label>
        <textarea id="description" name="description"></textarea>

        <label for="input-skill">Skills</label>
        <input type="text" name="skill" id="input-skill" placeholder="Your skills"/>

        <button type="submit">Create account</button>

        {{!-- error message will be added here --}}
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

        {{#if validationError}}
        <p class="error">{{validationError}}</p>
        {{/if}}
    </form>
</div>
