		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<h1>About <br> Pro_Sociaal</h1>
					<h3>The collaborative platform connecting <br> professionals with a skill <br> with nonprofts looking for support.</h3>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
			</section>

		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<header class="special">
						<h2>We're a group of active citizens </h2>
						<p>We're willing to help our community. We believe that can find fulfilment in helping others. While many of us are skilled and talented, we might not know where those can be applied. <br> I need help, you need help and they also need help. We're all better off when we're able to receive where we need and give where we can provide. Pro_Sociaal is first and foremost a project which seeks bring those needs/availabilities together. For the nonprofits.</p>
					</header>
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<h3>Who we are</h3>
								</header>
								<p>Emad Ghnim & Yann Quintin, two students from IronHack Amsterdam, looking to help their community</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									{{!-- <a href="#" class="icon fa-files-o"><span class="label">Icon</span></a> --}}
									<h3>Where are we</h3>
								</header>
								<p>We live in Harlem and Amsterdam, in the netherlands. Although this platform is meant for anyone to share skills and projects.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>Sinds 2020</h3>
								</header>
								<p>The idea came through discussions with friends a while back and was realized as part of a group project aiming to build a full application.</p>
							</div>
						</section>
	
					</div>
				</div>
			</section>
