<h1 class="flex-center">About us</h1>
<div class="media">
  <img src="/images/project-img.jpg" class="align-self-start mr-3 img-thumbnail" alt="project">
  <div class="media-body">
    <h5 class="mt-0">Inception</h5>
    <p>Pro_Sociaal was found in 2020, in the midsts of the shitest year humanity has known in a decade. The project is meant to be collaborative</p>
    <p></p>
  </div>
</div>
