<section id="banner">
				<div class="inner">
					<h1>Pro_Sociaal</h1>
					<h3>The collaborative platform connecting <br> professionals with a skill <br> with nonprofts looking for support.</h3>
				</div>
				<video autoplay loop muted playsinline src="images/banner.mp4"></video>
</section>
			<section class="">
				<div class="inner">
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<h3>For Active Citizens</h3>
								</header>
								<p>Pro_Sociaal seeks to bring talents where help and support is needed. This platform exists so that you can give back to your community, one project at a time.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>For Skilled Professionals</h3>
								</header>
								<p>You have worked your butt off for years and as a result acquired a certain skill and expertise, and feel like helping your community? <br> Then Pro_Sociaal is here to help you find the right cause to volunteer and help!</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<h3>For Nonprofits</h3>
								</header>
								<p>This platform is a tool for Nonprofits to find a skilled professional that is ready to volunteer their time to help with a specific task or project.<br> Whether it is web web development, user experience or any other useful skill someone on the community must have it and you might need it!</p>
							</div>
						</section>
	
					</div>
				</div>
			</section>
<div class="jumbotron">
  <h1 class="display-4">Welcome to Pro_Sociaal</h1>
  <p class="lead">the collaborative platorm linking Nonprofits in need of help and professional willing to volunteer their expertise!</p>
  <hr class="my-4">
  <p>Get help or volunteer by creating an account</p>
  <a class="btn btn-primary btn-lg" href="/login" role="button">I want (to) help</a>
</div>