<section>
  <h2>Volunteer Details</h2>

  <p><b>Name:</b> {{name}}</p>
  <p><b>Skill:</b>{{skills}}</p>
  <p><b>Profession:</b> {{profession}}</p>
  <p><b>Description</b> {{description}}</p>
  
  <hr>
  <a href="/">Home</a>
</section>