<div id="create-project">
    <h2>Create Project</h2>
    <form action="/projects/create" method="POST">

        <label for="input-name">Name of the project</label>
        <input type="text" id="input-name" name="name" placeholder="Your project name" />

        <labe for="input-description">Description</labe>
        <input type="text" name="description" id="input-description" placeholder="Tell us more about the project"/>

        <labe for="input-skill">Skills Required</labe>
        <input type="text" name="skillRequired" id="input-skill" placeholder="what skill do you need"/>

        <labe for="input-moneySaved">Money Saved</labe>
        <input type="number" name="moneySaved" id="input-moneySaved" placeholder="How much money to save"/>

        <button type="submit">Create project</button>

        {{!-- error message will be added here --}}
        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}

        {{#if validationError}}
        <p class="error">{{validationError}}</p>
        {{/if}}
    </form>
</div>