<div class="background">

<div class="flex">
            {{#each projects}}
              {{>projectCard this }}
            {{/each}}
</div>

<button><a class="nav-link" href="/projects/create">create project</a></button>

</div>


