<h1> Projects </h1>
<button><a class="nav-link" href="/projects/create">create project</a></button>
<div class="container">
    <h1>Projects</h1>
    <div class="row">
        {{#each projects}}
         {{>projectCard this }}
        {{/each}}
    </div>
</div>



