<h1> Projects </h1>
<a class="nav-link" href="/projects/create">create project</a>
<div class="container">
    <h1>Projects</h1>
    <div class="row">
        {{#each projectsFromDB}}
         {{>projectCard this }}
        {{else}}
            <p>There are no movies yet!</p>
        {{/each}}
    </div>
</div>